# Dependency directories
node_modules/

# Build output
dist/
build/
public/build/
database/build

# Logs
*.log
npm-debug.log*

# Environment variables
.env
.env.*.local
.env.local

# TypeScript cache
*.tsbuildinfo

# Testing
test-results/
playwright-report/
coverage/
.nyc_output/

# Biome
# We want to commit the biome.json file to the repo
# biome.json

# Turborepo
.turbo/


# intellij
.idea/

